.navbar-nav .nav-link:hover {
    color: #F44336;
    border: 1px solid #f4433642;
    border-radius: 15px;
    background-color: antiquewhite;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
    border: 1px solid #f4433642;
    border-radius: 15px;
    background-color: antiquewhite;
}

.textArea{
    width: 50%;
    height: auto;
    resize: none;
}